@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');


h1,h2,h3,h4,h5,p,a, button, span{
  font-family: 'Audiowide', cursive !important
}
.mdl-layout{
  height: auto !important
}

body {
  margin: 0;
  font-family: 'Audiowide', cursive; 
  color:#fff ;
  background: #1f4037;

}
/* Header Styles */

.mdl-layout__drawer{
  background: #25584A !important;
  border: 0 !important;
}

.mdl-layout__drawer nav{
  align-items: center !important;
  margin-top: 200px;
}
.header-color{
  background: #25584A !important;
}

.header-color-shadow{
  background: #25584A !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19) !important;
}

header{
  position: fixed !important;
  top: 0 !important;
}

.material-icons, .mdl-navigation a {
  color: #fff !important;
}
.mdl-navigation a:hover{
  color: grey !important;
}

/* Header Styles */



/* Home Section Style */
.link{
  font-size: 16px !important;
}

.banner-text{
  text-align: center;
  background-color:#1f4037;
  padding:40px;
  opacity: 0.8;
  width: 80%;
  margin: auto;
  border-radius: 10px;

}

.banner-text h1{
  font-size: 60px;
  font-weight: bold;
  color: white;
  line-height: 35px;
}

.banner-text h3{
  font-size: 28px;
}
.banner-text hr{
  margin: auto;
  border-top: 5px dotted white;
  width:45%;
}

.banner-text p{
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: 'Audiowide', cursive; 
}

.social-links{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.social-links i{
  color: white;
  font-size: 60px;
  margin: 20px;
}
.social-links i:hover{
  color: grey;
}

.landing-grid{ 
  text-align: center;
  padding-top: 6%  !important;
  padding-bottom: 6% !important;
  background: #25584A;
}

/* Home Section Style */




/* Projects Section Style */

svg#bigTriangleColor1 {
  pointer-events: none;
}

#bigTriangleColor1 path {
  fill: #25584A;
  stroke: #25584A;
  stroke-width: 2;
}

svg#bigTriangleColor2 {
  pointer-events: none;
  background: #25584A;
}

#bigTriangleColor2 path {
  fill: #1f4037;
  stroke: #1f4037;
  stroke-width: 2;
}

.projects-grid{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mdl-tabs__tab-bar{
  border-bottom: 0!important;
}

.mdl-card{
  -webkit-box-shadow: 4px 7px 15px 4px rgba(0,0,0,0.5); 
  box-shadow: 4px 7px 15px 4px rgba(0,0,0,0.5);
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  background: #fff !important;
}

.mdl-tabs__tab{
  color: #fff !important;
}

.mdl-card__supporting-text p{
  text-align: justify;
  font-size: 17px;
}

.projects-section{
  padding-top: 4%;
  padding-bottom: 4%;
}

.react-reveal{
  animation-duration: 600ms !important
}

/* Projects Section Style */



/* About Section Style */
.contact-body{
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;
  background:  #25584A;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  min-height: 550px;
  -webkit-box-shadow: 4px 7px 15px 4px rgba(0,0,0,0.5); 
  box-shadow: 4px 7px 15px 4px rgba(0,0,0,0.5);
  border-radius:15px;
  padding: 40px !important;
  background:  #1f4037;
  opacity: 0.8;
}

.contact-grid p{
  text-align: justify;
  font-size: 17px;
}

.contact-grid hr{
  border-top: 5px dotted white;
  width: 68%;
  margin: auto;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  background-color: #25584A !important;
}

.bufferbar{
  background: #fff;
}


.profile-pic{
  background-color: #25584A;
  border-radius: 50%;
  height: 250px;
  border: 3px solid white;
}

/* About Section Style */




@media(max-width:1260px){
  .mdl-card{
    margin: 10px !important;
    width: 400px !important;
  }

  .contact-grid{
    width: 70% !important
  }

  .mdl-progress{
    width: 300px !important;
  }

  .mdl-layout__drawer-button .material-icons{
    padding: 20px;
  }
  .mdl-layout__drawer-button{
    display: flex !important;
    justify-content: flex-start !important;
    background: #25584A !important;
    margin:0 !important;
    width: 100% !important;
    height: 64px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19) !important;
  }
  .mdl-layout__drawer-button, .mdl-layout__drawer{
    position: fixed !important;
    top: 0 !important;
  }

  .banner-text{
    margin-top:70px;
    padding:20px;
  }

  .banner-text h1{
    font-size: 40px;
  }

}


@media(min-width:1027px){
  .mdl-layout__drawer-button{
    display: none !important
  }
}